@font-face {
  font-family: "Wriggle";
  src: url('/src/lib/Wriggle-Regular.otf');
}

body {
  width: 100vw;
  max-width: min(90vw, 80rem);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  // background-color: #fdf6e3;
  color: #073642;
  // transition: 1s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}