@font-face {
  font-family: "Pleatures OL";
  src: url('/src/lib/Pleatures-Outline.ttf');
}

@font-face {
  font-family: "Pleatures";
  src: url('/src/lib/Pleatures.ttf');
}

@font-face {
  font-family: "Vercetti";
  src: url('/src/lib/Vercetti-Regular.ttf');
}

@font-face {
  font-family: "Shidorton";
  src: url('/src/lib/Shidorton-Regular.ttf');
}

html {
  // width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-color: #fdf6e3;
  color: #073642;
  // transition: 1s ease-in-out;
  background-color: #f3f3f3;
  background-image: url('/images/bg.svg');
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 600px) {
  // body {
  //   max-width: 100vw;
  //   width: 100%;
  // }
}