@font-face {
  font-family: "Nagbuloe-SB";
  src: url('/src/lib/Nagbuloe-SB.otf');
}

@font-face {
  font-family: "Nagbuloe";
  src: url('/src/lib/Nagbuloe.otf');
}

@font-face {
  font-family: "Castoro";
  src: url('/src/lib/Castoro.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "Castoro";
  src: url('/src/lib/Castoro-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

html {
  // width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Castoro, system-ui, sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('/images/i-like-food.svg');
  background-color: #f3f3f3;
  color: #292F36;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 600px) {
  // body {
  //   max-width: 100vw;
  //   width: 100%;
  // }
}